# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/docs-dist
/yarn-error.log

# umi
.umi
.umi-production
.umi-test
.env.local

# lerna
/.local
/packages/*/node_modules
/packages/*/dist
/packages/*/dist-visualizer
/packages/*/dist-visualizer-css
