.attributes {
  &-wrapper {
    padding: 12px 0;
  }

  &-container {
    padding: 16px;
    border-top: 1px solid #eeeeee;
  }

  &-form-panel {
    margin-left: 16px;
    font-size: 1.25rem;
    color: #999999;
    min-width: 560px;

    :global(.ant-result-icon > span > svg) {
      width: 4.25rem;
      height: 4.25rem;
    }

    :global(.ant-result-title > div) {
      font-size: 1.72rem;
    }
  }

  &-code-panel {
    font-size: 1.25rem;
    color: #999999;
    width: 100%;
  }
}
